<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stepic.stepic">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|keyboard"
            >
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UploadActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            />
        <activity android:name=".GalleryActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            />
        <activity android:name=".GalleryViewActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            />
        <activity android:name=".JoinActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            />

        <receiver android:name=".CaptureReceiver">
            <intent-filter android:priority="100000">
                <action android:name="ca" />
                <action android:name="android.hardware.action.NEW_PICTURE" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </receiver>

        <!--<service-->
            <!--android:name="stepic.stepic.CaptureJobService"-->
            <!--android:permission="android.permission.BIND_JOB_SERVICE"-->
            <!--android:exported="true" />-->


    </application>

</manifest>